<!DOCTYPE html>
<html>
  <head>
    <title>Components Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <main>
    <%= render partial: 'layouts/flashes' %>
    <%= yield %>
  </main>
  <%= yield :body_scripts %>
  </body>
</html>
